doctype html
html
  head
    title Site General
    // link(rel="shortcut icon" type="image/x-icon" href="/stylesheet/image/tab_favicon.ico")

    script(src='/jquery/jquery.min.js')
    script(src='/popper/popper.min.js')
    link(rel='stylesheet', type='text/css', href='/bootstrap/css/bootstrap.min.css')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/moment/moment.js')
    script(src='/tempusdominus/js/tempusdominus-bootstrap-4.min.js')    
    link(rel='stylesheet', href='/tempusdominus/css/tempusdominus-bootstrap-4.min.css')
    link(rel='stylesheet', href='/simplemde/simplemde.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheet/css/main.css')    
    link(rel='stylesheet', type="text/css", href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    script(src='/simplemde/simplemde.min.js')
    // link(rel='stylesheet', type='text/css', href='/fontawesome/css/all.min.css')    

  body

    include ../common/navbar

    block content

    include ../common/footer