@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
 
  .category-list {
    font-size: 3.5vw;
  }

  .product-index {
    font-size: 5vw;
  }

  .product-show {
    height: 50vw;
    width: 100%;
    object-fit: contain;
  }

  .product-detail {
    font-size: 3.5vw;
  }

  .nav-tittle {
    font-size: 3.5vw;
  }
}