section.footer.pt-5
  .contact-info
    hr.featurette-divider
    .container
      .row
        .col-12.col-md-3
          p.mbr-text
            strong Địa chỉ
            br
            br
            | 194/31 Lê Quốc Hưng , P.12 , Q.4 , Tp.HCM 
            br
            br
            br
            strong Liên Hệ
            br
            br
            | Phone: 01229006399
        .col-12.col-md-3
          p.mbr-text    
            strong Phản Hồi
            br
            br
            | Mọi chi tiết phản hồi của quý khách đều được chúng tôi cân nhắc và đánh giá cao
        .col-12.col-md-3
          .google-map-mb-5
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.635090591103!2d106.70359231480062!3d10.762580992330903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f6958a709a7%3A0x3fa2b87afe7f47b7!2zMTk0LzMxIEzDqiBRdeG7kWMgSMawbmcsIFBoxrDhu51uZyAxMiwgUXXhuq1uIDQsIEjhu5MgQ2jDrSBNaW5o!5e0!3m2!1sen!2s!4v1566108322109!5m2!1sen!2s" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      hr
      
      p © Copyright 2019 Nhahat5B - All Rights Reserved
        br
        | Developed and deployed by: 
        a(href="https://www.linkedin.com/in/minh-nguyen-b49a40105/") Nguyen Huy Minh