section.footer
  .contact-info
    hr.featurette-divider
    .container
      .row
        .col-12.col-md-3
          p.mbr-text
            strong Địa chỉ
            br
            br
            | 5B Võ Văn Tần, P.6, Quận 3, Hồ Chí Minh
            br
            br
            br
            strong Liên Hệ
            br
            br
            | Phone: (028) 3824 2465
            br
            | Email: Nhahat5B@gmail.com
        .col-12.col-md-3
          p.mbr-text    
            strong Phản Hồi
            br
            br
            | Mọi chi tiết phản hồi của quý khách đều được chúng tôi cân nhắc và đánh giá cao
        .col-12.col-md-3
          .google-map-mb-5
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15677.596615735292!2d106.6943633!3d10.7807097!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x20ca21709b9371be!2sSmall+Drama+Theater+Drama+City.+hcm!5e0!3m2!1sen!2s!4v1559458618005!5m2!1sen!2s" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      hr
      
      p © Copyright 2019 Nhahat5B - All Rights Reserved
        br
        | Developed and deployed by: 
        a(href="https://www.linkedin.com/in/minh-nguyen-b49a40105/") Nguyen Huy Minh